<h1>Log In</h1>
<br>
<%= flash[:error] %>

<%= form_for @user, url: '/login' do |f| %>
   
    <%= f.label :email %>
    <%= f.email_field :email %>
    
    <%= f.label :password %>
    <%= f.password_field :password %>
    
    <%= f.submit "Log In" %>
    
    <% end %>