<% if !params[:suitor].blank? %>
<% @meetings = Meeting.where(suitor: params[:suitor]) %>
<% end %>
<br>

<h1>All the Dates!</h1>


<% @meetings.each do |m| %>
    <p><%= link_to m.location, meeting_path(m) %> - <%= m.venue %> with <%= m.suitor.name %>
    <br> 
    Rating : <%= m.try(:rating) %> out of 5 </p>
    When: <%= m.appointment.strftime('%A %b %d, %Y') %>
<% end %>

<div> 
    <h3> Filter Dates by Suitor </h3>
    <%= form_tag("/meetings", method: "get") do %>
        <%= select_tag "suitor", options_from_collection_for_select(Suitor.all, "id", "suitor_description"), include_blank: true %>
        <%= submit_tag "Filter" %>
        <% end %>
</div>