<h1> Add a Date </h1>

<%= render partial: 'layouts/errors', locals: {object: @meeting} %>

<%= form_for @meeting do |f| %>
<%= f.label :venue %>
<%= f.select(:venue, ["Restaurant", "Coffee Shop", "Bar", "Other"], prompt: true) %>
<br>
<%= f.label(:location, "Where:") %>
<%= f.text_field :location %>
<br>
<%= f.label(:appointment, "When:") %>
<%= f.date_field :appointment %>
<br>
<%= f.label(:rating, "Rate your Date from 1 - 5:") %>
<%= f.number_field :rating, min: 1, max: 5 %>
<br>
<%= f.label :suitor_id, "Choose a Suitor" %>
<%= f.collection_select :suitor_id, Suitor.order('name ASC'), :id, :suitor_description, prompt: true %>
<br>

<% if !params[:suitor_id] %>
<h4> or create new suitor </h4>
<%= f.fields_for :suitor do |s| %>
    <%= s.label :name %>
    <%= s.text_field :name %>

    <%= s.label :occupation %>
    <%= s.text_field :occupation %>

    <%= s.label :age %>
    <%= s.number_field :age %>

    <%= s.label :dating_app %>
    <%= s.select(:dating_app, ["Bumble", "Coffee Meets Bagel", "Hinge", "Match", "OKCupid", "Plenty of Fish", "Raya", "Tinder", "Other", "In Person (Lucky you!)"], prompt: true) %>

    <%= s.label :hometown %>
    <%= s.text_field :hometown %>
    <% end %>
    <% end %>


<%= f.submit %>
<% end %>