<h1>Date with <%= link_to @meeting.suitor.name, @meeting.suitor  %></h1>

<br>
<h4> <%= @meeting.location %> (<%= @meeting.venue %>)

<br>
on <%= @meeting.appointment.strftime('%A %b %d, %Y') %></h4>

<p>
Rating: <%= @meeting.try(:rating) %>
<br>
Note: <%= @meeting.try(:note) %>
<br>
Entered by: <%= @meeting.user.name %>
</p>

<div class="buttons">
<% if authorized_to_edit?(@meeting) %>
<%= button_to "Edit Date", edit_meeting_path(@meeting), class: "button" %>
<%= button_to "Delete Date", meeting_path(@meeting), method: :delete, class: "button" %>
<% end %>
</div>
