<h1>Meeting Show Page</h1>

<br>
<h4> <%= @meeting.location %> (<%= @meeting.venue %>)
with <%= link_to @meeting.suitor.name, @meeting.suitor  %>
<br>
on <%= @meeting.appointment.strftime('%A %b %d, %Y') %></h4>

<p>
Rating: <%= @meeting.try(:rating) %>
<br>
Note: <%= @meeting.try(:note) %>
<br>
Entered by: <%= @meeting.user.name %>
</p>

<% if authorized_to_edit?(@meeting) %>
<%= link_to "Edit Date", edit_meeting_path(@meeting) %>
<%= link_to "Delete Date", meeting_path(@meeting), method: :delete %>
<% end %>
