<h1>Meeting Show Page</h1>
<p> <%= @meeting.location %> (<%= @meeting.venue %>)
with <%= @meeting.suitor.name %>
<br>
on <%= @meeting.appointment.strftime('%A, %b %d, %Y') %>
<br>
<br>
<%= @meeting.user.name %>

</p>

<%= form_tag(user_path(current_user), method: "delete") do %>
    <%= submit_tag("Delete Date") %>
<% end %>