<h1>Add New Suitor</h1>

<%= render partial: 'layouts/errors', locals: {object: @suitor} %>

<%= f.fields_for :suitor do |s| %>
    <%= s.label :name %>
    <%= s.text_field :name %>

    <%= s.label :occupation %>
    <%= s.text_field :occupation %>

    <%= s.label :age %>
    <%= s.number_field :age %>

    <%= s.label :dating_app %>
    <%= s.select(:dating_app, ["Bumble", "Coffee Meets Bagel", "Hinge", "Match", "OKCupid", "Plenty of Fish", "Raya", "Tinder"], prompt: true) %>

    <%= s.label :hometown %>
    <%= s.text_field :hometown %>
    <% end %>
    
<% end %>