<h1>This is the show page</h1>
Name: <%= @suitor.name %>
<br>
Age: <%= @suitor.age %>
<br>
Occupation: <%= @suitor.occupation %>
<br>
Dating App Used: <%= @suitor.dating_app %>
<br>
<%= link_to "Edit Suitor", edit_suitor_path(@suitor) %>
<br>
<%= link_to "Delete Suitor", suitor_path(@suitor), method: :delete %>