<!DOCTYPE html>
<html>
  <head>
    <title>Spark</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="nav">
  <% if logged_in? %>
    <%= link_to 'Log Out', logout_path, method: :delete %>
    <%= link_to 'All Dates', meetings_path %>
    <%= link_to 'All Suitors', suitors_path %>
    <%= link_to 'New Date', new_meeting_path %>
    <%= link_to "Add Suitor", new_suitor_path(@suitor) %>
    <%= link_to 'My Homepage', user_path(current_user) %>

  <% end %>
  </div>
    <%= yield %>
  </body>
 
</html>
